@use "./variables";

header {

    // WHY NOT WORKING????
    .wrapper {
        background-image: url(../../../textilee-assets/header-home.jpg);
        
    }

   
   
    
    
    .header {
        background: variables.$skyBlue;
        display: flex;
        align-items: center;
        
        
    }

}