@use "./variables";

header {

        background-image: url(../../textilee-assets/header-home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 100vh; 

}