@use "./variables";


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
        .mainMenu {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            margin-left: 850px;            
        }
                a:hover {
                    border-bottom: 3px solid variables.$turquoise;
                }

    
    
}