@use "./variables";


// WHY NOT WORKING?????


 section {
    background: variables.$skyBlue;
    display: flex;


    .flexContainer {
        background: variables.$darkBlue;
    }

    .backgroundImg {
        background-image: url(../../../textilee-assets/banner.jpg);
    }

}