@use "./variables";


main {
    .scissors {
        position: absolute;
        top: 180px;
        left: -10px; 
       }
        
        .header {
            background: variables.$skyBlue;
            position: relative;
    
            .imgContainer {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                background-color: variables.$turquoise;
                                
            }
    
            .textContainer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            
            .darkButton {
                background-color: variables.$darkBlue;
                padding-left: 20px; 
                padding-right: 20px;
                padding-top: 2px;
                padding-bottom: 4px;
                color: variables.$white;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 2px;
            }
        }
}


 #mainContent, section {
    background: variables.$skyBlue;
    display: flex;
    flex-direction: row-reverse;

    .iconFlex p {
        color: variables.$blackOne;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 2px;
    }

    .iconFlex {
        display: flex;
    
        
    }


    .flexContainer {
        background: variables.$teal;
        display: flex;
    }


    .read {
        background-color: variables.$button;
        padding-left: 20px; 
        padding-right: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .find {
        background-color: variables.$darkBlue;
        padding-left: 20px; 
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 6px;
        margin-top: 20px;
        margin-bottom: 80px;
        color: variables.$white;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 2px;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        }


        h5 {
            margin-bottom: 0.1px;
        }

        p {
            text-align: center;
        }
    }

    .banner {
        display: flex;
        justify-content: center;
        max-width: 100%;
        
        
         
    }

