@use "./variables";


// WHY NOT WORKING?????


 section {
    background: variables.$skyBlue;
    display: flex;
    flex-direction: row-reverse;


    .flexContainer {
        background: variables.$teal;
    }

    // Not working????
    .backgroundImg {
        background-image: url(../../../textilee-assets/banner.jpg);
    }

}