@use "./variables";

// Fonts Imported

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap');

h1, h2, button {
    font-family: variables.$headingFont;
}

.mainMenu, p, input, textarea {
    font-family: variables.$otherFont;
}

h2 {
    color: variables.$blackOne;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 1.7px;
}

h1, .mainMenu a {
    color: variables.$darkBlue;
}

input, footer, textarea {
    color: variables.$white;
}

.mainMenu {
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 1.4px;
    font-size: 20px;
}

h1 {
    font-size: 58px;
    line-height: 68px;
    padding-bottom: 50px;
}

p, input, button, textarea {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
}