// Colours

$darkBlue: #1A315C;
$blackOne: #1E1713;
$skyBlue: #CCEDFB;
$turquoise: #0CADC0;
$blackTwo: #161515;
$white: #FFFFFF;
$teal: #114e54;
$button: #c1cdf6;

// Font Families

$headingFont: "Pacifico";
$otherFont: "Lato";

// Font Size

$baseFontSize: 1rem;


$fa-font-path: "path/to/font-awesome/css/font-awesome.min.css";