@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, .darkButton, .read, .find {
  font-family: "Pacifico";
}

p, .mainMenu {
  font-family: "Lato";
  font-size: 20px;
}

h1, h3, h5, .mainMenu a {
  color: #1A315C;
}

h1 {
  font-size: 58px;
  line-height: 68px;
  padding-bottom: 50px;
}

.mainMenu {
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 1.4px;
}

h2 {
  color: #1E1713;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 1.7px;
}

h3, h5 {
  font-size: 43px;
  line-height: 58px;
  letter-spacing: 2.7px;
}

h4 {
  color: #FFFFFF;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 2.5px;
}

footer p, .flexContainer p {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
}

.darkButton, .read, .find {
  text-decoration: none;
}

.read {
  color: #1E1713;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav h2 {
  transform: translate(0, 20px);
}
nav .mainMenu {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 850px;
}
nav a:hover {
  border-bottom: 3px solid #0CADC0;
}

header {
  background-image: url(../../textilee-assets/header-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.gallerySection {
  background: #114e54;
}
.gallerySection .gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0 20px 0;
}
.gallerySection .gallery li {
  margin: 0 20px 0 20px;
}

main .scissors {
  transform: translate(0, -400px);
}
main .top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
main .top .imgContainer {
  width: 40%;
}
main .top .imgContainer img {
  margin-left: 190px;
  box-shadow: -8px 11px 0px 2px #0CADC0;
}
main .top .textContainer {
  width: 60%;
}
main .top .textContainer h3 {
  margin-bottom: -4px;
}
main .top .textContainer p {
  margin-bottom: 50px;
}
main .top .darkButton {
  background-color: #1A315C;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 4px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
}

#mainContent, section {
  background: #CCEDFB;
  padding-bottom: 80px;
}
#mainContent .iconFlex p, section .iconFlex p {
  color: #1E1713;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
}
#mainContent .iconFlex, section .iconFlex {
  display: flex;
  flex-wrap: wrap;
}
#mainContent .iconFlex .textOne, section .iconFlex .textOne {
  width: 50%;
  margin-top: 40px;
}
#mainContent .iconFlex .textOne .first, section .iconFlex .textOne .first {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
}
#mainContent .iconFlex .textOne .firstOne, section .iconFlex .textOne .firstOne {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
}
#mainContent .iconFlex .textOne svg, section .iconFlex .textOne svg {
  background-color: #0CADC0;
  border-radius: 50%;
}
#mainContent .iconFlex .textOne p, section .iconFlex .textOne p {
  text-align: left;
  margin-top: -30px;
}
#mainContent .iconFlex .textTwo, section .iconFlex .textTwo {
  width: 50%;
  margin-top: 40px;
}
#mainContent .iconFlex .textTwo svg, section .iconFlex .textTwo svg {
  background-color: #0CADC0;
  border-radius: 50%;
}
#mainContent .iconFlex .textTwo p, section .iconFlex .textTwo p {
  text-align: left;
  margin-top: -30px;
}
#mainContent .iconFlex .textThree, section .iconFlex .textThree {
  width: 50%;
  margin-bottom: 90px;
}
#mainContent .iconFlex .textThree svg, section .iconFlex .textThree svg {
  background-color: #0CADC0;
  border-radius: 50%;
}
#mainContent .iconFlex .textThree p, section .iconFlex .textThree p {
  text-align: left;
  margin-top: -30px;
}
#mainContent .iconFlex .textFour, section .iconFlex .textFour {
  width: 50%;
}
#mainContent .iconFlex .textFour svg, section .iconFlex .textFour svg {
  background-color: #0CADC0;
  border-radius: 50%;
}
#mainContent .iconFlex .textFour p, section .iconFlex .textFour p {
  text-align: left;
  margin-top: -30px;
}
#mainContent .discover, section .discover {
  background: #114e54;
  padding-bottom: 10px;
}
#mainContent .discover .flexContainer, section .discover .flexContainer {
  display: flex;
  flex-wrap: wrap;
}
#mainContent .discover .flexContainer .partOne, section .discover .flexContainer .partOne {
  width: 50%;
  transform: translate(-330px, -50px);
}
#mainContent .discover .flexContainer .partOne img, section .discover .flexContainer .partOne img {
  box-shadow: 19px 20px 0 0 #0CADC0;
}
#mainContent .discover .flexContainer .partTwo, section .discover .flexContainer .partTwo {
  width: 50%;
}
#mainContent .discover .flexContainer .partTwo p, section .discover .flexContainer .partTwo p {
  text-align: left;
}
#mainContent .discover .flexContainer .partThree, section .discover .flexContainer .partThree {
  width: 50%;
}
#mainContent .discover .flexContainer .partThree h4, #mainContent .discover .flexContainer .partThree p, section .discover .flexContainer .partThree h4, section .discover .flexContainer .partThree p {
  text-align: right;
}
#mainContent .discover .flexContainer .partThree .read, section .discover .flexContainer .partThree .read {
  margin-left: 485px;
}
#mainContent .discover .flexContainer .partFour, section .discover .flexContainer .partFour {
  width: 50%;
  transform: translate(290px, 80px);
}
#mainContent .discover .flexContainer .partFour img, section .discover .flexContainer .partFour img {
  box-shadow: -12px 15px 0px 6px #0CADC0;
}
#mainContent .discover .read, section .discover .read {
  background-color: #c1cdf6;
  padding: 4px 20px 4px 20px;
}
#mainContent .search h5, section .search h5 {
  margin-bottom: 0.1px;
  display: flex;
  justify-content: center;
}
#mainContent .search p, section .search p {
  text-align: center;
  padding-bottom: 40px;
}
#mainContent .search .find, section .search .find {
  background-color: #1A315C;
  padding: 5px 30px 6px 30px;
  margin-top: 20px;
  margin-bottom: 80px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
  margin-left: 42%;
}

.banner {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

ul {
  list-style: none;
}
ul a:link,
ul a:visited,
ul a:hover,
ul a:active {
  text-decoration: none;
}

footer {
  background-color: black;
  display: flex;
}
footer p {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */