@use "./variables";

main {
    section {
        background-color: variables.$skyBlue;

        .colour {
            background-color: variables.$teal;
    
        }

        .side {
            background-color: variables.$teal;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
        }

        #fabric {
            position: relative;
            bottom: 180px; 
            width: 60%;
            
        }

        .collection {
            display: flex;
            flex-direction: column;
            width: 60%;
    
        }

        .commentOne {
            width: 60%;
            display: flex;
            padding-bottom: 60px;

                img {
                    width: 60%;
                    height: 60%;
                    margin-top: 20px;
                }
        }

        .commentTwo {
            width: 60%;
            display: flex;
            padding-bottom: 60px;

                img {
                    width: 40%;
                    height: 40%;
                    margin-top: 20px;
                }
        }


        .firstComment, .secondComment {
            padding-left: 50px;
        }

    .form {

        input[type=text] {
            background-color: variables.$skyBlue;
            border: none;
            border-bottom: 2px solid variables.$turquoise;
            padding: 20px;
        }

        input[type=email] {
            background-color: variables.$skyBlue;
            border: none;
            border-bottom: 2px solid variables.$turquoise;
            padding: 20px;
        }

        textarea {
            background-color: variables.$skyBlue;
            border: none;
            border: 2px solid variables.$turquoise;
            padding: 20px;
        }
    }

    button {
        background-color: variables.$darkBlue;
        width: 60%;
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 40px;
        margin-bottom: 80px;
    }
    }
}