@use "./variables";

main {
    background-color: variables.$skyBlue; 
     
    .two {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        .collect {
            background-color: variables.$teal;
            width: 52%;
            box-shadow: 10px 12px 0 8px variables.$turquoise; 

            #fabric {
                transform: translate(-2px, -200px);
                box-shadow: 32px 20px 0 0 variables.$turquoise;
            }

            .collection {
                display: flex;
                flex-direction: column;
                width: 75%;
                margin-left: 200px;

                h3 {
                    margin-top: -100px;
                }
            }
        }

        .aside {
            background-color: variables.$teal;
            width: 20%;
            height: 70%;
            margin-top: 150px;

            .side {
                
                img {
                    transform: translate(15px, -30px);
                    margin-bottom: -60px;
                }

                h3 {
                    margin-left: 15px;
                }

                p {
                    margin-top: -30px;
                    margin-bottom: -2px;
                    margin-left: 15px;
                }

                a {
                    margin-left: 15px;
                }

                ul {
                    margin-top: -30px;
                    list-style: disc;
                }
                            
            }
        }     
    }
    

        .commentOne {
            width: 60%;
            display: flex;
            padding-bottom: 60px;

                img {
                    width: 60%;
                    height: 60%;
                    margin-top: 20px;
                }
        }

        .commentTwo {
            width: 60%;
            display: flex;
            padding-bottom: 60px;

                img {
                    width: 40%;
                    height: 40%;
                    margin-top: 20px;
                }
        }


        .firstComment, .secondComment {
            padding-left: 50px;
        }

    .form {
        display: flex;
        flex-wrap: wrap;

        input[type=text] {
            background-color: variables.$skyBlue;
            border: none;
            border-bottom: 2px solid variables.$turquoise;
            padding: 20px;
            width: 28%;
            margin: 0 50px 40px 0;
        }

        input[type=email] {
            background-color: variables.$skyBlue;
            border: none;
            border-bottom: 2px solid variables.$turquoise;
            padding: 20px;
            width: 28%;
            margin-bottom: 40px;
        }

        textarea {
            background-color: variables.$skyBlue;
            border: none;
            border: 2px solid variables.$turquoise;
            padding: 20px;
            width: 60%;
            
        }
    }

    button {
        background-color: variables.$darkBlue;
        width: 60%;
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 40px;
        margin-bottom: 80px;
    }   
}