@use "./variables";

// Fonts Imported

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap');

h1, h2, h3, h4, button {
    font-family: variables.$headingFont;
}

p, .mainMenu, li, input, a {
    font-family: variables.$otherFont;
}

h1, .mainMenu a, #bold {
    color: variables.$darkBlue;
}

h3, #white, #whiteOne, #white ul, button, footer {
    color: variables.$white;
}

h1 {
    font-size: 58px;
    line-height: 68px;
    padding-bottom: 50px;
}

.mainMenu {
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 1.4px;
    font-size: 20px;
}

h2 {
    color: variables.$blackOne;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 1.7px;
}

h3, h4 {
    font-size: 40px;
    letter-spacing: 4.3px;
}

.font {
    font-size: 35px;
    letter-spacing: 2.9px;
}

p, #white, input {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    text-decoration: none;
}

#boldOne {
    font-weight: bold;
    font-family: variables.$otherFont;
    color: variables.$button;
}

#bold {
    font-weight: bold;
}


// Need to add bullet points back!
#whiteOne, button {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    
}

